<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shouryakhare.rhyme_a_zoo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ZooActivity"
            android:label="@string/title_activity_zoo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ZooSection2Activity"
            android:label="ZooSection2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ZooSection3Activity"
            android:label="ZooSection3Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ZooSection4Activity"
            android:label="ZooSection4Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ZooSection5Activity"
            android:label="ZooSection5Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ZooSection6Activity"
            android:label="ZooSection6Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QuizCompletedActivity"
            android:label="@string/title_activity_quiz_completed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QuizActivity"
            android:label="@string/title_activity_quiz"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AvatarActivity" />
        <activity android:name=".RhymeActivity" />
        <activity
            android:name=".VideoActivity"
            android:label="@string/title_activity_video"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".BankActivity" />
        <activity android:name=".CoinsBankActivity" />
        <activity android:name=".RhymeMenuActivity" />
    </application>

</manifest>